@media (max-width: 600px) {
    * {
        
    }
    body {
        margin: 0;
        
    }
    .navbar {
        background-color: rgb(39, 39, 240);
        padding: 15px;
    }
    .navbar ul, a {
        display: none;
    }
    .intro h1 {
        color: white;
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;
        margin: 10px;
    }
    .money h1 {
        font-size: 50px;
        color: #061a30;
        margin-top: 100px;
        margin-left: 10px;
        
        
    }
    .money p {
        font-size: 24px;
        margin-left: 10px;
        width: auto;
        height: auto;
    }
    .money input {
        display: none;
    }
    .mon {
        display: block;
        padding: 10px;
        background-color: #d1d4d4;

    }
    .btn1 {
        margin-bottom: 30px;
        background-color: rgb(39, 39, 240);
        border-radius: 5px;
        padding: 8px;
        font-size: 25px;
        width: 220px;
        height: 50px;
         margin: 10px;
        font-weight: 100;
        margin-top: 20px;
        
       
    }
    video {
        width: 100%;
        height: auto;
    }
    .btn1:hover {
        opacity: 0.7;
    }
    .section {
        display: block;
        margin: 10px;
    }
    .sect h1 {
      font-size: 45px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin: 10px;
      margin-top: 60px;
      font-weight: 800;
      width: 350px;
    }
    .sect p {
        font-size: 30px;
        width: 350px;
        line-height: 1.3;
        color: #061a30;
        font-weight: 600;
        
    }
    .btn2 {
        background-color: rgb(39, 39, 240);
        font-size: 20px;
        width: 230px;
        height: 50px;
        font-weight: 500;
    }
    .btn2:hover {
     opacity: 0.7;
    }
    .section img {
        height: auto;
        width: 100%;
    }
    .name h1 {
        font-size: 48px;
        color: #061a30;
        margin-bottom: -45px;
        font-weight: bold;
        
    }
    .really {
        display: none;
    }
    .diagram p {
        color: blue;
        font-weight: 600;
    }
    .phone {
        display: block;
        margin-top: 80px;
    }
    .img2 img {
        width: 100%;
        height: 700px;
        margin: 20px auto;
        display: block;
    
    }
    .hmm {
        display: block;
        color: #061a30;
        text-align: center;
        font-size: 25px;
        margin-top: 10px;
    }
    .custom-list li::before {
        color: blue;
        margin: 20px;
        position: absolute;
        top: -20px;
        text-align: center;
        font-size: 25px;
        
        
    }
    .custom-list li::after {
        margin: 20px;
        height: 120px !important;

    }
    .custom-list li {
        margin:10px;
         height: auto;
        color: #05203e;
        
    }
    .custom-list li h3, p {
        font-size: 25px;
       
    }
    .custom-list li h3 {
        font-weight: 700;
        margin-top: 60px;
        margin-left: 50px;
        font-size: 28px;
        }
    .custom-list li p {
        font-size: 18px;
        margin-left: 50px;
        font-weight: 600;
        margin-top: 0px;
        width: auto;
    }
    .signbtn {
        background-color: rgb(39, 39, 240);
        margin: auto;
        width: 200px;
        margin-left: 100px;
        font-size: 20px;
        font-weight: 600;
        height: 55px;
        padding: 10px;
        margin-top: 40px;
    }
    .signbtn:hover {
        opacity: 0.7;
    }
    .rewards {
        display: block;
        text-align: center;
        margin: auto;
        margin-top: 120px;
    }
    .rewards h1 {
        font-size: 38px;
    }
    .rewards p {
        margin-top: 60px;
        font-size: 30px;
        color: grey;
    }
    .rewards .opp {
        font-size: 60px;
        margin-top: -20px !important;
        margin-bottom: 50px;
        
    }
    .rewards .ah {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        left: 60px;
        
    }
    .option {
        font-size: 30px !important;
        font-weight: 900 !important;
    }
    .today {
        display: block;
    }
    .wait {
        width: 100%;
        
    }
    .today1 p {
        color: grey;
        font-size: 30px;
    }
    .today1 h1 {
        color: grey;
        font-size: 60px;
        font-weight: lighter;
    }
    .today1 .calcu {
        line-height: 1.6;
        font-weight: 600;
        font-size: 18px !important;
    }
    .today .www {
        font-size: 20px !important;
        border-radius: 2px !important;
        color: blue !important;
    }
    .today .ww {
        font-size: 20px !important;
    }
    .keep {
       display: block;
       background-color: rgb(39, 39, 240);
    }
    .keep1 h1 {
        margin: 10px;
        font-size: 31px;
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;

        
    }
    .break {
        display: none;
    }
    .break2 {
        display: none;
    }
    .keep1 p {
        margin: 10px;
        font-size: 19px;
        width: auto;
        font-weight: 500;
    }
    .keep1 a {
        display: block;
        filter: blur(0.4px);
        color: lightyellow;
        font-size: 15px !important;
}
    .top {
        display: block;
        background-color: rgb(39, 39, 240);
        padding: auto;
        margin: auto;
    }
    .top1 h1 {
        font-size: 25px;
    }
    .square {
        font-size: 40px;
    }
    .top1 p {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.5;
        justify-content: center;
        width: auto;
    }
    .top2 h1 {
        font-size: 25px;
    }
    .top2 p {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.5;
        justify-content: center;
        width: auto;
        margin: 0;
    }
    
    .regular {
        display: block;
        background-color: rgb(39, 39, 240);
        padding: 10px;
        margin: auto;
        padding-bottom: 40px;
    }
    .reg1 h1 {
        font-size: 25px;
        width: 100%;
    
    }
    .reg1 p {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.5;
        justify-content: center;
        margin: 0;
    }
    .reg2 h1 {
        font-size: 25px;
    }
    .reg2 p {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.5;
        justify-content: center;
        margin: 0;
    }
    .why1 p, h4 {
        font-weight: 700;
    }
    .why1 h4 {
        font-weight: 700 !important;
    }
    .new {
        display: block;
    }
    .review {
        display: block;
        width: 90%;
        height: auto;
        
        
    }
    .review-card {
        width: 100%;
        height: auto;
        align-items: center;
        margin: 10px auto;
        position: relative;
        
    }
    .review-card h1 {
        padding: 20px;
        margin-top: 10px;
        font-size: 20px;
    }
    .review-card h4 {
        padding: auto;
        margin: 20px;
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 40px;
    }
    .review-card p {
        margin-top: -40px !important;
        padding: 20px;
        font-size: 15px;
        margin: auto;
        font-weight: 600;
    }
    .review-card a {
        display: block;
        color: blue;
        font-weight: 500;
        font-size: 16px;
    
    }
    .mmm {
        position: absolute;
        left: -275px;
        top: 100px;
        height: 35px;
        width: 90px;
    }
    .cta-section {
        background: rgb(39, 39, 240);
        display: block;
        position: relative;
        padding: 10px;
        height: 300px;
        box-shadow: 3px 3px 10px blue;
        margin-bottom: 40px;
    }
    .cta-txt h2 {
      font-size: 20px;
      margin-bottom: 70px;
      display: none;
    }
    .cta-txt2, h2 {
        display: block;
        margin: auto;
        padding: 5px;
        font-size: 25px !important;
        font-weight: 700;
    }
    .input-rap {
        display: block;
    }
    .input-rap input {
        width: 180px;
        margin: auto;
        border-radius: 4px;
        margin-left: 30px;
        height: 25px;
        background-color: royalblue;
    }
    .input-rap button {
        position: absolute;
        top: 100px;
        left: 30px;
        width: 160px;
        font-weight: 700;
        color: #061a30;
        border-radius: 4px;
        font-size: 16px;
    }
    .input-rap input::placeholder {
         font-weight: 100;
         font-size: 15px;
    }
    .info {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    .company h2 {
     font-size: 18px !important;
    }
    .company a {
        display: flex !important;
        flex-wrap: wrap !important;
        font-size: 10px !important;
        margin: 10px;
        color: grey;
        font-weight: 500;
    
    }
    .social-media {
        background-color: white;
        margin-bottom: 50px;
        padding: 10px;
        margin-top: -110px;
    }
    .social-media a {
        display: inline;
    }
    .media i {
        color: grey;
    }
    .media i:hover {
        color: #061a30;
    }
    .footer {
        background-color: whitesmoke;
    }
    .footer-top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;


    }
    .footer-address {
        order: 2 !important;
        margin-bottom: 5px;
    }
    .sec-license {
        order: 1 !important;
        justify-items: center;
        margin-bottom: 20px;
    }
    .sec-license img {
        width: 30px;
        height: 30px;
    }
    .sec-license p {
        font-size: 10px;
        font-weight: 900;
    }
    .ooo {
        color: grey;
        font-weight: 100;
    }
    .footer-address p {
        font-size: 16.5px;
        line-height: 1.5;
    }
    .footer-description p {
        color: grey;
        font-size: 12px;
    }
    .footer-description a {
        display: inline;
        color: blue;
    }
    
}