@media (max-width: 600px) {
    body {
       margin: 0; 
        
    }
    .navbar {
        background-color: rgb(39, 39, 240);
        padding: 15px;
    }
    .navbar ul, a {
        display: none;
    }
    .intro h1 {
        color: white;
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;
        margin: 10px;
    }
    .money h1 {
        font-size:48px;
        color: #061a30;
        margin-top: 100px;
        margin-left: 10px;
        width: auto;
        font-weight: 700;
        
    }
    .money p {
        font-size: 24px;
        margin-left: 10px;
        width: auto;
        height: auto;
    }
    .money input {
        display: none;
    }
    .mon {
        display: block;
        padding: 10px;
        background-color: #d1d4d4;

    }
    .btn1 {
        margin-bottom: 30px;
        background-color: rgb(39, 39, 240);
        border-radius: 5px;
        padding: 8px;
        font-size: 20px;
        width: 200px;
        height: 55px;
         margin: 10px;
        font-weight: 700;
        margin-top: 20px;
        
       
    }
    video {
        width: 100%;
        height: auto;
    }
    .btn1:hover {
        opacity: 0.7;
    }
    .section {
        display: block;
        margin: 10px;
    }
    .sect h1 {
      font-size: 35px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin: 10px;
      margin-top: 60px;
      font-weight: 800;
      width: 300px;
    }
    .sect p {
        font-size: 25px;
        width: auto;
        line-height: 1.3;
        color: #061a30;
        font-weight: bold;
        width: 300px;
        
    }
    .btn2 {
        background-color: rgb(39, 39, 240);
        font-size: 15px;
        width: 200px;
        height: 50px;
        font-weight: 700;
    }
    .btn2:hover {
     opacity: 0.7;
    }
    .section img {
        height: auto;
        width: 100%;
    }
    .name h1 {
        font-size: 40px;
        color: #061a30;
        margin-bottom: -45px;
        font-weight: bold;
        
    }
    .really {
        display: none;
    }
    .diagram p {
        color: blue;
        font-weight: 600;
    }
    .phone {
        display: block;
        margin-top: 80px;
    }
    .img2 img {
        width: 70%;
        height: 500px;
        margin: 20px auto;
        display: block;
    
    }
    .hmm {
        display: block;
        color: #061a30;
        text-align: center;
        font-size: 25px;
        margin-top: 10px;
    }
    .custom-list li::before {
        color: blue;
        margin: 20px;
        position: absolute;
        top: -20px;
        text-align: center;
        font-size: 25px;
        
        
    }
    .custom-list li::after {
        margin: 20px;
        height: 100px !important;

    }
    .custom-list li {
        margin:10px;
         height: auto;
        color: #05203e;
        
    }
    .custom-list li h3, p {
        font-size: 25px;
       
    }
    .custom-list li h3 {
        font-weight: 700;
        margin-top: 60px;
        margin-left: 50px;
        font-size: 28px;
        }
    .custom-list li p {
        font-size: 18px;
        margin-left: 50px;
        font-weight: 600;
        margin-top: 0px;
        width: auto;
    }
    .signbtn {
        background-color: rgb(39, 39, 240);
        margin: auto;
        width: 200px;
        margin-left: 100px;
        font-size: 20px;
        font-weight: 600;
        height: 55px;
        padding: 10px;
        margin-top: 40px;
    }
    .signbtn:hover {
        opacity: 0.7;
    }
    .rewards {
        display: block;
        text-align: center;
        margin: auto;
        margin-top: 120px;
    }
    .rewards h1 {
        font-size: 38px;
    }
    .rewards p {
        margin-top: 60px;
        font-size: 30px;
        color: grey;
    }
    .rewards .opp {
        font-size: 60px;
        margin-top: -20px !important;
        margin-bottom: 50px;
    }
    .rewards .ah {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        left: 60px;
        
    }
    .option {
        font-size: 30px !important;
        font-weight: 900 !important;
    }
    .today {
        display: block;
    }
    .wait {
        width: 100%;
        
    }
    .today1 p {
        color: grey;
        font-size: 30px;
    }
    .today1 h1 {
        color: grey;
        font-size: 60px;
        font-weight: lighter;
    }
    .today1 .calcu {
        line-height: 1.6;
        font-weight: 600;
        font-size: 18px !important;
        font-weight: 400;
        width: auto;
    }
    .today .www {
        font-size: 20px !important;
        border-radius: 2px !important;
        color: blue !important;
        width: auto !important;
        padding: auto !important;
    }
    .today .ww {
        font-size: 20px !important;
    }
    .keep {
       display: block;
       background-color: rgb(39, 39, 240);
    }
    .keep1 h1 {
        margin: 10px;
        font-size: 31px;
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;

        
    }
    .break {
        display: none;
    }
    .break2 {
        display: none;
    }
    .keep1 p {
        margin: 10px;
        font-size: 19px;
        width: auto;
        font-weight: 500;
    }
    .keep1 a {
        display: block;
        filter: blur(0.4px);
        color: lightyellow;
        font-size: 15px !important;
}
    .top {
        display: block;
        background-color: rgb(39, 39, 240);
        padding: auto;
        margin: auto;
    }
    .top1 h1 {
        font-size: 23px;
    }
    .square {
        font-size: 40px;
    }
    .top1 p {
        font-size: 19px;
        font-weight: 500;
        line-height: 1.5;
        justify-content: center;
        width: 300px;
    }
    .top2 h1 {
        font-size: 23px;
    }
    .top2 p {
        font-size: 19px;
        font-weight: 500;
        line-height: 1.5;
        justify-content: center;
        width: 300px;
    
    }
    
    .regular {
        display: block;
        background-color: rgb(39, 39, 240);
        padding: 10px;
        margin: auto;
        padding-bottom: 40px;
    }
    .reg1 h1 {
        font-size: 23px;
        width: 300px;
    
    }
    .reg1 p {
        font-size: 19px;
        font-weight: 500;
        line-height: 1.5;
        justify-content: center;
        width: 300px;
    }
    .reg2 h1 {
        font-size: 23px;
        width: 300px;
    }
    .reg2 p {
        font-size: 19px;
        font-weight: 500;
        line-height: 1.5;
        justify-content: center;
        width: 300px;
    }
    .why1 p, h4 {
        font-weight: 700;
    }
    .why1 h4 {
        font-weight: 700 !important;
    }
    .new {
        display: block;
    }
    .review {
        display: block;
        width: 90%;
        height: auto;
        margin: 10px;
        
        
    }
    .review-card {
        width: 90%;
        height: auto;
        margin: 40px auto;
        position: relative;
        background-color: white;
        box-sizing: border-box;
        box-shadow: 5px 5px 10px whitesmoke;
    }

    .review-card h1 {
        padding: 20px;
        margin-top: 10px;
        font-size: 20px;
    }
    .review-card h4 {
        padding: auto;
        margin: 20px;
        font-size: 35px;
        font-weight: 900;
        margin-bottom: 80px;
    }
    .review-card p {
        margin-top: -40px !important;
        padding: 20px;
        font-size: 18px;
        margin: auto;
        font-weight: 500;
    }
    .review-card a {
        display: block;
        color: blue;
        font-weight: 500;
        font-size: 16px;
    
    }
    .review-card .sub {
        font-size: 20px;
    }
    .mmm {
        position: absolute;
        left: -275px;
        top: 120px;
        height: 40px;
        width: 100px;
    }
    .cta-section {
        background: rgb(39, 39, 240);
        display: block;
        position: relative;
        padding: 10px;
        height: 350px;
        box-shadow: 3px 3px 10px blue;
        margin-bottom: 40px;
    }
    .cta-txt h2 {
      font-size: 20px;
      margin-bottom: 70px;
      display: none;

    }
    .cta-txt2, h2 {
        display: block;
        margin: auto;
        padding: 5px;
        font-size: 30px !important;
        font-weight: 700;
        width: auto;
    }
    .input-rap {
        display: block;
    }
    .input-rap input {
        width: 250px;
        margin: auto;
        border-radius: 4px;
        margin-left: 30px;
        height: 25px;
        background-color: royalblue;
    }
    .input-rap button {
        position: absolute;
        top: 100px;
        left: 30px;
        width: 180px;
        font-weight: 700;
        color: #061a30;
        border-radius: 4px;
        font-size: 16px;
    }
    .input-rap input::placeholder {
         font-weight: 100;
         font-size: 15px;
    }
    .info {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        padding: 10px;
        width: auto;

    }
    .company h2 {
     font-size: 20px !important;
     padding-right: 30px;

    }
    .company a {
        display: flex;
        flex-wrap: wrap;
        font-size: 13px !important;
        color: grey;
        font-weight: 200;
        width: auto;
        line-height: 0.6;
        
        
    
    }
    .social-media {
        background-color: white;
        margin-bottom: 50px;
        padding: 10px;
        margin-top: -70px;
    }
    .social-media a {
        display: inline;
    }
    .media i {
        color: grey;
    }
    .media i:hover {
        color: #061a30;
    }
    .footer {
        background-color: whitesmoke;
        margin-top: -80px !important;
    }
    .footer-top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;


    }
    .footer-address {
        order: 2 !important;
        margin-bottom: 5px;
    }
    .sec-license {
        order: 1 !important;
        justify-items: center;
        margin-bottom: 20px;
    }
    .sec-license img {
        width: 50px;
        height: 50px;
    }
    .sec-license p {
        font-size: 15px;
        font-weight: 900;
    }
    .ooo {
        color: grey;
        font-weight: 100;
        font-size: 15px !important;
        margin-left: -0px !important;
    }
    .footer-address p {
        font-size: 16.5px;
        line-height: 1.5;
    }
    .footer-description p {
        color: grey;
        font-size: 12px;
    }
    .footer-description a {
        display: inline;
        color: blue;
    }
    
}